@import "style-assets";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    box-shadow: $level-1;
    padding: 1rem;
}

img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

.title {
    font-family: 'Nanum Pen Script';
    font-size: 2rem;
    margin: 0;
}