.post-component {
  background: #f3f3f3;
  --rotation: 20deg;

  transform: rotate(var(--rotation));
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0.25rem 0 1rem 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease-in-out;
}
