:host {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    max-width: 960px;
    margin: 0 auto;
}

.sidebar {
    flex-basis: 33%;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 67%;
}