<aside class="sidebar">
  <div class="app-media-list" [mediaCount]="4"></div>
  <ask-the-eight-ball></ask-the-eight-ball>
</aside>
<main class="main">
  <aside class="blurb">
    <h2>thetravelerinthetanjacket’s Blurb</h2>
    <p>
      I am a time traveler, and I wear a tan jacket. I am the only citizen of
      that era. I'm not from there originally. I'm not sure where I'm from.
    </p>
    <p>Wherever I came from, it's not here anymore.</p>
  </aside>
  <div class="posts-list-component" [postCount]="4"></div>
</main>
