:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5A3A26;
}

h1 {
    text-align: center;
    font-size: 8vw;
    line-height: 1.2;
    font-family: 'Splash';
    color: white;
    background-color: #5A3A26;
}

nav {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    color: white;
    padding: .5rem;
}

.nav-link {
  color: white;
}