:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

h2 {
    font-family: 'Special Elite';
    font-weight: 400;
    font-size: 32px;
    color: white;
    margin: 0;
}