@import "style-assets";

:host {
    align-self: stretch;
    background-color: white;
    padding: 2rem;
    box-shadow: $level-1;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.post-text {
    resize: vertical;
    min-height: 8rem;
}