:host {
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  color: white;
  padding: .5rem;
  z-index: 1;
}

.nav-link {
  color: white;

  &.active-link {
    font-weight: 800;
    letter-spacing: .0125em;
  }
}